/* Stylesheet for Mobile App */

/* Reset */
html, body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, header, footer, nav{
    margin:0;
    padding:0;
    
}

/* Universal Style */
body{
    background-color:#dedede;
}
div#container{
    width:100%;
    background-color:#eaeaea;
}

header{
    width:100%;
    padding:25px;
    background-color: #fafafa;
}

header h1{
    color:#8ec9d1;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size:175%;

}

div#content{
    width: 100%;
    background-color: #dedede;
}

nav{
    width:100%;
    background-color:#94c7ce;
}

nav ul{
    display:block;
    margin:auto;
    color:#fff;
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    
}

nav ul li a{
    float:left;
    padding: 5px 15px;
    display:block;
    border-right: 1px solid #c6c6c6;
    color:#fff;
    text-decoration:none;
}

nav ul li a:hover{
    background-color:#9fb7ba;
    color:#efefef;
}

footer{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height: 30px;
    background-color: #acacac;
}

div#content h3{
    padding: 15px;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

div#content p{
    padding: 15px;
    color: #9fb7ba;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

div.keepOpen{
    clear:both;
}

@media screen and (max-width: 600px){
    div#container{
        width:100%;
    }
    
    nav ul li a{
        float:none;
        text-align:center;
    }
}

div#product_grp{
    max-width:80%;
    min-width:20%;
    margin:auto;
}

figure.product{
    float:left;
    margin:10px;
    min-width:30%;
    max-width:50%;
    background-color:
        ;
    border-radius:5%;
}

figure.product img{
    display: block;
    padding:10px 0;
    width:80%;
    margin:auto;
}

figure.product figcaption{
    text-align:center;
    color:white;
    font-family: 'Quicksand', sans-serif;
    font-size:24px;
}

@media screen and (max-width: 600px){
    figure.product{
        float:none;
        margin:10px;
        min-width:80%;
        max-width:80%;
        background-color: cadetblue;
        border-radius:5%;
    }
    
    legend,span,input,textarea{
        display:block;
        margin:auto;
        text-align:center;
        font-family: 'Quicksand', sans-serif;
        color:#8ec9d1;
    }
    }


