/* Stylesheet for Mobile App */

/* Reset */
html, body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, header, footer, nav{
    margin:0;
    padding:0;
    
}

/* Universal Style */
body{
    background-color:floralwhite;
}
div#container{
    width:1200px;
    height:800px;
    background-color:#ebf1f4;
}

